<style>
    .car-detail {
  text-align: center;
  margin: 20px;
  color:white;
}
.car-detail img {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.car-detail p {
  font-size: 18px;
  color: #747373;
}
</style>
{% include 'patials/header.html' %}
  <div class="car-detail">
    <img src="{{ car.image }}" alt="{{ car.make }} {{ car.model }}" width="500px">
    <h1>{{ car.make }} {{ car.model }} ({{ car.year }})</h1>
    <p><strong>Type:</strong> {{ car.type }}</p>
    <p><strong>Location:</strong> {{ car.location }}</p>
    <p><strong>Price per Day:</strong> ${{ car.price_per_day }}</p>
    <p><strong>Available:</strong> {{ car.available|yesno:"Yes,No" }}</p>
    <a href="{% url 'car_rent' %}"><button>← Back to List</button></a>
  </div>
  {% include 'patials/footer.html'%}
